/* Variables */
/* Mixins */
/* Adding Fonts */
@font-face {
  font-family: 'brownregular';
  src: url("fonts/brown-regular-webfont.woff2") format("woff2"), url("fonts/brown-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* General Styling */
html, body {
  font-family: 'brownregular'; }

*, *:before, *:after {
  box-sizing: border-box; }

p {
  margin: 50px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  color: #000730; }

/* Header Styling */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; }
  .header__utilities {
    float: right;
    padding-top: 40px;
    padding-right: 40px; }
    .header__utilities__search {
      float: left; }
      .header__utilities__search input[type="text"] {
        margin-top: -20px;
        margin-right: 60px;
        padding-left: 50px;
        width: 130px;
        height: 53px;
        font-size: 15px;
        font-weight: 700;
        color: #fff;
        background: transparent url("img/search-bg-sprite.png") no-repeat;
        background-position: 0 -53px;
        border: none;
        text-transform: uppercase; }
        .header__utilities__search input[type="text"]:hover, .header__utilities__search input[type="text"]:focus {
          background-position: 0 0; }
        .header__utilities__search input[type="text"]::-webkit-input-placeholder {
          color: #fff;
          opacity: 0.8; }
        .header__utilities__search input[type="text"]::-moz-placeholder {
          color: #fff;
          opacity: 0.8; }
        .header__utilities__search input[type="text"]:-ms-input-placeholder {
          color: #fff;
          opacity: 0.8; }
        .header__utilities__search input[type="text"]:-moz-placeholder {
          color: #fff;
          opacity: 0.8; }

/* Main Navigation Styling */
.mainNavigation {
  float: left;
  padding: 40px; }
  .mainNavigation > ul {
    margin-left: -25px;
    font-size: 0; }
  .mainNavigation__item {
    display: inline-block;
    position: relative;
    margin-left: 25px; }
    .mainNavigation__item > a {
      font-size: 15px;
      font-weight: 700;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: 0.3s all ease-in-out 0s;
      -ms-transition: 0.3s all ease-in-out 0s;
      transition: 0.3s all ease-in-out 0s; }
      .mainNavigation__item > a:hover {
        color: #0f0; }
    .mainNavigation__item__dropdown {
      position: absolute;
      display: none;
      top: 100%;
      left: 0;
      padding-top: 15px;
      min-width: 150px; }
    .mainNavigation__item__dropdownItem {
      display: block;
      margin-bottom: 10px; }
      .mainNavigation__item__dropdownItem > a {
        font-size: 15px;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        opacity: 0.6;
        -webkit-transition: 0.3s all ease-in-out 0s;
        -ms-transition: 0.3s all ease-in-out 0s;
        transition: 0.3s all ease-in-out 0s; }
        .mainNavigation__item__dropdownItem > a:hover {
          opacity: 1; }
    .mainNavigation__item:hover > .mainNavigation__item__dropdown {
      display: block; }

/* Hero Styling */
.hero {
  position: relative;
  padding: 40px 0 0;
  min-height: 599px;
  background: url(img/hero-bg.jpg) no-repeat center bottom;
  background-size: cover; }

.hero__comingSoonBanner {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-transform: uppercase; }
  @media screen and (max-width: 480px) {
    .hero__comingSoonBanner {
      margin-top: 20px; } }

.hero__mainBanner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  max-width: 90%;
  -webkit-transform: translate(-50%, -50%) rotate(15deg);
  -ms-transform: translate(-50%, -50%) rotate(15deg);
  transform: translate(-50%, -50%) rotate(15deg); }
  @media screen and (max-width: 480px) {
    .hero__mainBanner {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
      -ms-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg); } }
  .hero__mainBanner__row {
    padding: 7px 0; }
    .hero__mainBanner__row > img {
      display: inline-block;
      margin-right: -7px; }
    .hero__mainBanner__row > ul {
      display: inline-block;
      margin-top: -5px;
      text-align: left; }
      .hero__mainBanner__row > ul > li {
        display: block;
        margin-top: 5px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase; }
    .hero__mainBanner__row--alignRight {
      text-align: right; }
    .hero__mainBanner__row__arrowWrapper {
      display: inline-block;
      padding: 28px 47px; }

.hero__credits {
  position: absolute;
  bottom: 0;
  right: 61px; }
  .hero__credits > ul {
    margin-top: -5px;
    font-size: 0; }
    .hero__credits > ul > li {
      display: block;
      margin-top: 5px; }

/* Arrow Button Styling */
.arrowButton {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(img/arrow-button.png) no-repeat;
  border: none; }
  .arrowButton:hover {
    cursor: pointer; }

/* Social Menu Styling */
.socialMenu {
  float: right; }
  .socialMenu--absolute {
    position: absolute;
    float: none;
    top: 40px;
    right: 40px; }
  @media screen and (max-width: 480px) {
    .socialMenu {
      top: 20px;
      right: 20px; } }
  .socialMenu > ul {
    list-style-type: none;
    margin-left: -10px;
    font-size: 0; }
    .socialMenu > ul > li {
      display: inline-block;
      margin-left: 10px;
      width: 16px;
      height: 15px; }

.socialMenu__icon {
  display: block;
  width: 19px;
  height: 16px;
  background-image: url(img/social-icons-sprite.svg); }

.socialMenu__icon--twitter {
  background-position: 0 0; }

.socialMenu__icon--facebook {
  background-position: 0 -17px; }

.socialMenu__icon--instagram {
  background-position: 0 -34px; }

/* Signup Form Styling */
.signupForm {
  display: block;
  position: relative;
  padding: 0 50px;
  width: 635px;
  max-width: 100%;
  height: 45px;
  background-image: linear-gradient(to right, #5300ff, #eab8ff); }
  @media screen and (max-width: 1024px) {
    .signupForm {
      padding-right: 100px;
      width: 100%; } }
  .signupForm__label {
    font-size: 15px;
    font-weight: 700;
    line-height: 45px;
    color: #fff; }
    .signupForm__label::after {
      content: '|';
      margin-left: 15px;
      opacity: 0.3; }
    @media screen and (max-width: 768px) {
      .signupForm__label {
        display: none; } }
  .signupForm__emailInput {
    height: 45px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    border: none;
    background: transparent; }
    .signupForm__emailInput::-webkit-input-placeholder {
      color: #fff;
      opacity: 0.5; }
    .signupForm__emailInput::-moz-placeholder {
      color: #fff;
      opacity: 0.5; }
    .signupForm__emailInput:-ms-input-placeholder {
      color: #fff;
      opacity: 0.5; }
    .signupForm__emailInput:-moz-placeholder {
      color: #fff;
      opacity: 0.5; }
  .signupForm__submitButton {
    position: absolute;
    top: 0;
    left: 100%; }
    .signupForm__submitButton:hover::after {
      background-position: 0 -45px; }
    .signupForm__submitButton::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: -23px;
      width: 23px;
      height: 45px;
      background-image: url(img/default-button-bg-lg--sprite.png);
      background-repeat: no-repeat; }
      @media screen and (max-width: 1024px) {
        .signupForm__submitButton::after {
          display: none; } }
    .signupForm__submitButton > input[type="submit"] {
      padding: 0 20px;
      height: 45px;
      font-size: 15px;
      font-weight: 700;
      color: #fff;
      background: rgba(0, 255, 0, 0.6);
      border: 3px solid rgba(0, 255, 0, 0.6);
      border-right: none;
      text-transform: uppercase; }
      .signupForm__submitButton > input[type="submit"]:hover {
        cursor: pointer; }
    .signupForm__submitButton:hover > input[type="submit"] {
      color: #0f0;
      background: transparent; }
    @media screen and (max-width: 1024px) {
      .signupForm__submitButton {
        right: 0;
        left: auto;
        margin-left: 0; } }

/* Home Text Styling */
.homeTextContent {
  margin: 100px auto;
  padding: 0 198px;
  max-width: 1024px; }
  .homeTextContent--text-center {
    text-align: center; }
  @media screen and (max-width: 1024px) {
    .homeTextContent {
      padding: 0 80px; } }
  @media screen and (max-width: 768px) {
    .homeTextContent {
      padding: 0 20px; } }

/* Default Links Styling */
.defaultLink {
  font-weight: 700;
  text-decoration: none; }
  .defaultLink--green {
    color: #0f0; }
  .defaultLink--purple {
    color: #9013FE; }

a[data-tooltip] {
  position: relative; }

a[data-tooltip]::before {
  content: attr(data-tooltip);
  position: absolute;
  display: none;
  font-size: 12px;
  color: #000730;
  line-height: 20px;
  max-width: 240px;
  padding: 14px 24px 18px;
  bottom: 100%;
  left: -10px;
  border: 3px solid #0f0;
  border-radius: 8px;
  background: #fff;
  text-align: left; }

a[data-tooltip-color="green"]::before {
  border-color: #0f0; }

a[data-tooltip-color="purple"]::before {
  border-color: #9013FE; }

a[data-tooltip]:hover::before {
  display: block; }

/* Three Columns Grid Styling */
.threeColGrid {
  margin-top: -97px;
  margin-left: -28px;
  font-size: 0; }
  @media screen and (max-width: 1024px) {
    .threeColGrid {
      margin-left: 0;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .threeColGrid {
      margin-top: -40px; } }
  .threeColGrid__wrapper {
    margin: 97px auto;
    padding: 0 59px;
    width: 1024px;
    max-width: 100%; }
    @media screen and (max-width: 768px) {
      .threeColGrid__wrapper {
        padding: 0 10px; } }
    @media screen and (max-width: 480px) {
      .threeColGrid__wrapper {
        padding: 0; } }
  .threeColGrid__item {
    display: inline-block;
    padding-left: 28px;
    margin-top: 97px;
    width: 33.33%;
    vertical-align: top; }
    @media screen and (max-width: 1024px) {
      .threeColGrid__item {
        padding-left: 14px;
        padding-right: 14px;
        width: 311px;
        height: 193px; } }
    @media screen and (max-width: 480px) {
      .threeColGrid__item {
        padding: 0;
        margin-top: 40px;
        width: 283px; } }
  .threeColGrid__loadMore {
    padding: 130px 0 30px;
    text-align: center; }
    .threeColGrid__loadMore > span {
      display: block;
      margin-bottom: 15px;
      font-size: 15px;
      font-weight: 700;
      color: #000730; }

/* Project Box Styling */
.projectBox {
  position: relative;
  overflow: hidden;
  width: 283px;
  height: 193px; }
  .projectBox__bgImage {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .projectBox__description {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 10px 40px 0;
    left: 0;
    width: 342px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    transform-origin: top left;
    -webkit-transform: rotate(34deg);
    -ms-transform: rotate(34deg);
    transform: rotate(34deg);
    -webkit-transition: 0.3s all ease-in-out 0s;
    -ms-transition: 0.3s all ease-in-out 0s;
    transition: 0.3s all ease-in-out 0s; }
    .projectBox__description--green {
      color: #000730;
      background: rgba(0, 255, 0, 0.6); }
    .projectBox__description--purple {
      color: #0f0;
      background: rgba(144, 19, 254, 0.6); }
  .projectBox:hover .projectBox__description--green {
    background: rgba(0, 255, 0, 0.8); }
  .projectBox:hover .projectBox__description--purple {
    background: rgba(144, 19, 254, 0.8); }

/* Green Arrow Button Styling */
.buttonDefault {
  display: inline-block;
  position: relative;
  padding: 0 20px;
  height: 34px;
  font-size: 15px;
  line-height: 28px;
  font-weight: 700;
  color: #fff;
  border: 3px solid #0f0;
  border-right: none;
  background: #0f0;
  text-decoration: none;
  text-transform: uppercase; }
  .buttonDefault:hover {
    color: #0f0;
    background: #fff;
    cursor: pointer; }
  .buttonDefault::after {
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    right: -18px;
    width: 18px;
    height: 34px;
    background-image: url(img/default-button-bg--sprite.png);
    background-repeat: no-repeat; }
  .buttonDefault:hover::after {
    background-position: 0 -34px; }
  .buttonDefault--margin-top-big {
    margin-top: 130px; }

/* Advert Styling */
.advert {
  margin: 0 auto;
  max-width: 939px;
  border: 1px solid #979797; }
  .advert > img {
    display: block; }

/* Decoration Block Styling */
.decorationBlock {
  display: block;
  margin: 0 auto;
  max-width: 1024px;
  height: auto; }
  .decorationBlock--bottom {
    margin-top: -42px; }

/* Footer Styling */
.footer {
  background-image: linear-gradient(#5b01de, #feb3ff); }
  .footer__container {
    position: relative;
    margin: 0 auto;
    padding: 58px 58px 200px 58px;
    max-width: 1024px;
    min-height: 310px; }
    @media screen and (max-width: 768px) {
      .footer__container {
        padding-left: 20px;
        padding-right: 20px; } }
  .footer__bottom {
    position: absolute;
    padding-right: 55px;
    /* Making room for the Logo */
    bottom: 44px;
    left: 68px;
    right: 43px; }
    @media screen and (max-width: 768px) {
      .footer__bottom {
        left: 20px;
        right: 20px; } }
  .footer__copyrightText {
    display: block;
    margin: 20px 0 0;
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    color: #fff;
    letter-spacing: 0.1px; }
  .footer__logo {
    position: absolute;
    right: 0;
    bottom: 0; }

/*# sourceMappingURL=master.css.map */
