
/* Variables */

$default-text-size: 24px;

$default-color-black: #000730;
$default-color-green: #0f0;
$default-color-purple: #9013FE;

$breakpoint-alpha: 1024px;
$breakpoint-beta: 800px;
$breakpoint-gamma: 768px;
$breakpoint-delta: 480px;


/* Mixins */

@mixin prefix($property, $value, $prefixes: ()) {
	@each $prefix in $prefixes {
		#{'-' + $prefix + '-' + $property}: $value;
  	}
 
	#{$property}: $value;
}


/* Adding Fonts */

@font-face {
    font-family: 'brownregular';
    src: url('fonts/brown-regular-webfont.woff2') format('woff2'),
         url('fonts/brown-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* General Styling */

html, body {
	font-family: 'brownregular';
}

*, *:before, *:after {
	box-sizing: border-box;
}

p {
	margin: 50px 0;
	font-size: $default-text-size;
	font-weight: 700;
	line-height: 35px;
	color: $default-color-black;
}


/* Header Styling */

.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;

	&__utilities {
		float: right;
		padding-top: 40px;
		padding-right: 40px;

		&__search {
			float: left;

			& input[type="text"] {
				margin-top: -20px;
				margin-right: 60px;
				padding-left: 50px;
				width: 130px;
				height: 53px;
				font-size: 15px;
				font-weight: 700;
				color: #fff;
				background: transparent url('img/search-bg-sprite.png') no-repeat;
				background-position: 0 -53px;
				border: none;
				text-transform: uppercase;

				&:hover,
				&:focus {
					background-position: 0 0;
				}

				&::-webkit-input-placeholder {
					color: #fff;
					opacity: 0.8;
				}

				&::-moz-placeholder {
					color: #fff;
					opacity: 0.8;
				}

				&:-ms-input-placeholder {
					color: #fff;
					opacity: 0.8;
				}

				&:-moz-placeholder {
					color: #fff;
					opacity: 0.8;
				}
			}
		}
	}
}


/* Main Navigation Styling */

.mainNavigation {
	float: left;
	padding: 40px;

	& > ul {
		margin-left: -25px;
		font-size: 0;
	}

	&__item {
		display: inline-block;
		position: relative;
		margin-left: 25px;

		& > a {
			font-size: 15px;
			font-weight: 700;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			@include prefix(transition, 0.3s all ease-in-out 0s, webkit ms);

			&:hover {
				color: $default-color-green;
			}
		}

		&__dropdown {
			position: absolute;
			display: none;
			top: 100%;
			left: 0;
			padding-top: 15px;
			min-width: 150px;
		}

		&__dropdownItem {
			display: block;
			margin-bottom: 10px;

			& > a {
				font-size: 15px;
				font-weight: 700;
				color: #fff;
				text-decoration: none;
				opacity: 0.6;
				@include prefix(transition, 0.3s all ease-in-out 0s, webkit ms);

				&:hover {
					opacity: 1;
				}
			}
		}

		&:hover > &__dropdown {
			display: block;
		}
	}
}


/* Hero Styling */

.hero {
	position: relative;
	padding: 40px 0 0;
	min-height: 599px;
	background: url(img/hero-bg.jpg) no-repeat center bottom;
	background-size: cover;
}

.hero__comingSoonBanner {
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	text-transform: uppercase;

	@media screen and (max-width: $breakpoint-delta) {
		margin-top: 20px;
	}
}

.hero__mainBanner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 350px;
	max-width: 90%;
	@include prefix(transform, translate(-50%, -50%) rotate(15deg), webkit ms);

	@media screen and (max-width: $breakpoint-delta) {
		@include prefix(transform, translate(-50%, -50%) rotate(0deg), webkit ms);
	}

	&__row {
		padding: 7px 0;

		& > img {
			display: inline-block;
			margin-right: -7px;
		}

		& > ul {
			display: inline-block;
			margin-top: -5px;
			text-align: left;

			& > li {
				display: block;
				margin-top: 5px;
				color: #fff;
				font-weight: 700;
				text-transform: uppercase;
			}
		}

		&--alignRight {
			text-align: right;
		}

		&__arrowWrapper {
			display: inline-block;
			padding: 28px 47px;
		}
		
	}
}

.hero__credits {
	position: absolute;
	bottom: 0;
	right: 61px;

	& > ul {
		margin-top: -5px;
		font-size: 0;

		& > li {
			display: block;
			margin-top: 5px;
		}
	}
}


/* Arrow Button Styling */

.arrowButton {
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(img/arrow-button.png) no-repeat;
	border: none;

	&:hover {
		cursor: pointer;
	}
}


/* Social Menu Styling */

.socialMenu {
	float: right;

	&--absolute {
		position: absolute;
		float: none;
		top: 40px;
		right: 40px;
	}

	@media screen and (max-width: $breakpoint-delta) {
		top: 20px;
		right: 20px;
	}

	& > ul {
		list-style-type: none;
		margin-left: -10px;
		font-size: 0;

		& > li {
		display: inline-block;
		margin-left: 10px;
		width: 16px;
		height: 15px;
		}
	}
}

.socialMenu__icon {
	display: block;
	width: 19px;
	height: 16px;
	background-image: url(img/social-icons-sprite.svg);
}

.socialMenu__icon--twitter {
	background-position: 0 0;
}

.socialMenu__icon--facebook {
	background-position: 0 -17px;
}

.socialMenu__icon--instagram {
	background-position: 0 -34px;
}


/* Signup Form Styling */

.signupForm {
	display: block;
	position: relative;
	padding: 0 50px;
	width: 635px;
	max-width: 100%;
	height: 45px;
	background-image: linear-gradient(to right, #5300ff, #eab8ff);

	@media screen and (max-width: $breakpoint-alpha) {
		padding-right: 100px;
		width: 100%;
	}

	&__label {
		font-size: 15px;
		font-weight: 700;
		line-height: 45px;
		color: #fff;

		&::after {
			content: '|';
			margin-left: 15px;
			opacity: 0.3;
		}

		@media screen and (max-width: $breakpoint-gamma) {
			display: none;
		}
	}

	&__emailInput {
		height: 45px;
		font-size: 15px;
		font-weight: 700;
		color: #fff;
		border: none;
		background: transparent;

		&::-webkit-input-placeholder {
			color: #fff;
			opacity: 0.5;
		}

		&::-moz-placeholder {
			color: #fff;
			opacity: 0.5;
		}

		&:-ms-input-placeholder {
			color: #fff;
			opacity: 0.5;
		}

		&:-moz-placeholder {
			color: #fff;
			opacity: 0.5;
		}
	}

	&__submitButton {
		position: absolute;
		top: 0;
		left: 100%;

		&:hover::after {
			background-position: 0 -45px;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: -23px;
			width: 23px;
			height: 45px; 
			background-image: url(img/default-button-bg-lg--sprite.png);
			background-repeat: no-repeat;

			@media screen and (max-width: $breakpoint-alpha) {
				display: none;
			}
		}

		& > input[type="submit"] {
			padding: 0 20px;
			height: 45px;
			font-size: 15px;
			font-weight: 700;
			color: #fff;
			background: rgba($default-color-green, 0.6);
			border: 3px solid rgba($default-color-green, 0.6);
			border-right: none;
			text-transform: uppercase;
			
			&:hover {
				cursor: pointer;
			}
		}

		&:hover > input[type="submit"] {
			color: $default-color-green;
			background: transparent;
		}

		@media screen and (max-width: $breakpoint-alpha) {
			right: 0;
			left: auto;
			margin-left: 0;		
		}
	}

}


/* Home Text Styling */

.homeTextContent {
	margin: 100px auto;
	padding: 0 198px;
	max-width: 1024px;

	&--text-center {
		text-align: center;
	}

	@media screen and (max-width: $breakpoint-alpha) {
		padding: 0 80px;
	}

	@media screen and (max-width: $breakpoint-gamma) {
		padding: 0 20px;
	}

}


/* Default Links Styling */

.defaultLink {
	font-weight: 700;
	text-decoration: none;

	&--green {
		color: $default-color-green;
	}

	&--purple {
		color: $default-color-purple;
	}
}

a[data-tooltip] {
	position: relative;
}

a[data-tooltip]::before {
	content: attr(data-tooltip);
	position: absolute;
	display: none;
	font-size: 12px;
	color: $default-color-black;
	line-height: 20px;
	max-width: 240px;
	padding: 14px 24px 18px;
	bottom: 100%;
	left: -10px;
	border: 3px solid $default-color-green;
	border-radius: 8px;
	background: #fff;
	text-align: left;
}

a[data-tooltip-color="green"]::before {
	border-color: $default-color-green;
}

a[data-tooltip-color="purple"]::before {
	border-color: $default-color-purple;
}

a[data-tooltip]:hover::before {
	display: block;
}


/* Three Columns Grid Styling */

.threeColGrid {
	margin-top: -97px;
	margin-left: -28px;
	font-size: 0;

	@media screen and (max-width: $breakpoint-alpha) {
		margin-left: 0;
		text-align: center;
	}

	@media screen and (max-width: $breakpoint-delta) {
		margin-top: -40px;
	}

	&__wrapper {
		margin: 97px auto;
		padding: 0 59px;
		width: 1024px;
		max-width: 100%;

		@media screen and (max-width: $breakpoint-gamma) {
			padding: 0 10px;
		}

		@media screen and (max-width: $breakpoint-delta) {
			padding: 0;
		}
	}

	&__item {
		display: inline-block;
		padding-left: 28px;
		margin-top: 97px;
		width: 33.33%;
		vertical-align: top;

		@media screen and (max-width: $breakpoint-alpha) {
			padding-left: 14px;
			padding-right: 14px;
			width: 311px;
			height: 193px;
		}

		@media screen and (max-width: $breakpoint-delta) {
			padding: 0;
			margin-top: 40px;
			width: 283px;
		}
	}

	&__loadMore {
		padding: 130px 0 30px;
		text-align: center;

		& > span {
			display: block;
			margin-bottom: 15px;
			font-size: 15px;
			font-weight: 700;
			color: $default-color-black;
		}
	}

}


/* Project Box Styling */

.projectBox {
	position: relative;
	overflow: hidden;
	width: 283px;
	height: 193px;

	&__bgImage {
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		top: 50%;
		left: 50%;
		@include prefix(transform, translate(-50%, -50%), webkit ms);
	}

	&__description {
		position: absolute;
		top: 0;
		bottom: 0;
		padding: 10px 40px 0;
		left: 0;
		width: 342px;
		font-size: 12px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		transform-origin: top left;
		@include prefix(transform, rotate(34deg), webkit ms);
		@include prefix(transition, 0.3s all ease-in-out 0s, webkit ms);

		&--green {
			color: $default-color-black;
			background: rgba($default-color-green, .6);
		}

		&--purple {
			color: $default-color-green;
			background: rgba($default-color-purple, .6);
		}

	}

	&:hover &__description--green {
		background: rgba($default-color-green, .8);
	}

	&:hover &__description--purple {
		background: rgba($default-color-purple, .8);
	}

}


/* Green Arrow Button Styling */

.buttonDefault {
	display: inline-block;
	position: relative;
	padding: 0 20px;
	height: 34px;
	font-size: 15px;
	line-height: 28px;
	font-weight: 700;
	color: #fff;
	border: 3px solid $default-color-green;
	border-right: none;
	background: $default-color-green;
	text-decoration: none;
	text-transform: uppercase;
	
	&:hover {
		color: $default-color-green;
		background: #fff;
		cursor: pointer;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: -3px;
		right: -18px;
		width: 18px; 
		height: 34px; 
		background-image: url(img/default-button-bg--sprite.png);
		background-repeat: no-repeat;
	}

	&:hover::after {
		background-position: 0 -34px;
	}

	&--margin-top-big {
		margin-top: 130px;
	}
}


/* Advert Styling */

.advert {
	margin: 0 auto;
	max-width: 939px;
	border: 1px solid #979797;

	& > img {
		display: block;
	}
}


/* Decoration Block Styling */

.decorationBlock {
	display: block;
	margin: 0 auto;
	max-width: 1024px;
	height: auto;

	&--bottom {
		margin-top: -42px;
	}
}

/* Footer Styling */

.footer {
	background-image: 
		linear-gradient(
			#5b01de, #feb3ff
		);

	&__container {
		position: relative;
		margin: 0 auto;
		padding: 58px 58px 200px 58px;
		max-width: 1024px;
		min-height: 310px;

		@media screen and (max-width: $breakpoint-gamma) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	&__bottom {
		position: absolute;
		padding-right: 55px; /* Making room for the Logo */
		bottom: 44px;
		left: 68px;
		right: 43px;

		@media screen and (max-width: $breakpoint-gamma) {
			left: 20px;
			right: 20px;
		}
	}

	&__copyrightText {
		display: block;
		margin: 20px 0 0;
		font-size: 15px;
		font-weight: 700;
		line-height: 16px;
		color: #fff;
		letter-spacing: 0.1px;
	}

	&__logo {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}