
/* Variables */

$default-text-size: 15px;

$default-color-black: #000730;
$default-color-green: #0f0;
$default-color-purple: #9013FE;

$breakpoint-alpha: 1024px;
$breakpoint-beta: 800px;
$breakpoint-gamma: 768px;
$breakpoint-delta: 480px;


/* Mixins */

@mixin prefix($property, $value, $prefixes: ()) {
	@each $prefix in $prefixes {
		#{'-' + $prefix + '-' + $property}: $value;
  	}
 
	#{$property}: $value;
}

@mixin placeholderStyling {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-ms-input-placeholder      {@content}  
}

/* Adding Fonts */

@font-face {
    font-family: 'brownregular';
    src: url('fonts/brown-regular-webfont.woff2') format('woff2'),
         url('fonts/brown-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brownlight';
    src: url('fonts/brown-light_0-webfont.woff2') format('woff2'),
         url('fonts/brown-light_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brownbold';
    src: url('fonts/brown-bold-webfont.woff2') format('woff2'),
         url('fonts/brown-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* General Styling */

html, body {
	font-family: 'brownregular';
}

*, *:before, *:after {
	box-sizing: border-box;
}

h1 {
	margin: 0 0 30px;
	font-family: 'brownbold';
	font-size: 24px;
	line-height: 35px;
}

h2 {
	@extend h1;
	margin: 0;
}

p {	
	margin: 18px 0;
	font-family: 'brownlight';
	font-size: $default-text-size;
	color: $default-color-black;
	line-height: 20px;

	& > strong {
		font-family: 'brownbold';
	}
}

a {
	color: $default-color-green;
	text-decoration: none;
}


/* General Layout Container Used in all the Templates */

.layoutContainer {
	position: relative;
	margin: 0 auto 100px;
	padding: 0 90px;
	width: 1024px;
	max-width: 100%;
	z-index: 1;

	@media screen and (max-width: $breakpoint-alpha) {
		padding: 0 20px;
	}
}


/* Header Styling */

.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;

	&--inner {
		position: relative;
		margin: 0 auto 70px;
		width: 1024px;
		max-width: 100%;
	}

	&__utilities {
		float: right;
		padding-top: 40px;
		padding-right: 40px;

		@media screen and (max-width: $breakpoint-gamma) {
			padding-top: 18px;
			padding-right: 18px;
		}

		&__search {
			float: left;

			&__input {
				margin-top: -20px;
				margin-right: 60px;
				padding-left: 50px;
				width: 130px;
				height: 53px;
				font-size: 15px;
				font-weight: 700;
				color: #fff;
				background: transparent url('img/search-bg-sprite.png') no-repeat;
				background-position: 0 -53px;
				border: none;
				text-transform: uppercase;

				&:hover,
				&:focus {
					background-position: 0 0;
				}

				@include placeholderStyling {
					color: #fff;
					opacity: 0.8;
				}

				@media screen and (max-width: $breakpoint-alpha) {
					margin-right: 20px;
					font-size: 12px;
				}

				@media screen and (max-width: $breakpoint-gamma) {
					display: none;
				}

				&--black {
					color: #000;
					background-position: 0 -179px;

					&:hover,
					&:focus {
						background-position: 0 -126px;						
					}

					@include placeholderStyling {
						color: #000;
					}
				}
			}
		}
	}
}


/* Hamburger Menu Button Styling */

.hamburgerMenu {
	display: none;
	position: absolute;
	left: 18px;
	top: 18px;
	right: auto;
	width: 27px;
	height: 20px;
	z-index: 999;
	@include prefix(transition, 0.3s all ease-in-out 0s, webkit ms);

	&:hover {
		cursor: pointer;
	}

	&__bar {
		display: block;
		position: absolute;
		right: 0;
		width: 100%;
		height: 4px;
		background: #fff;
		border-radius: 2.5px;
		transform-origin: center center;
		transform: rotate(0deg) scale(1, 1);
		transition: all 0.3s ease-in-out;

		&:first-child {
			top: 0;
		}

		&:nth-child(2) {
			top: 8px;
		}

		&:last-child {
			top: auto;
			bottom: 0;
		}

		&--black {
			background: #000;
		}
	}

	&:hover &__bar:nth-child(2) {
		transform: rotate(0deg) scale(0.7, 1);
	}

	&.is-in-x-mode {
		left: auto;
		right: 18px;

		& > .hamburgerMenu__bar {
			background: $default-color-green;
		}

		& > .hamburgerMenu__bar:nth-child(2) {
			transform: rotate(0deg) scale(0, 0);
		}

		& > .hamburgerMenu__bar:first-child {
			top: 50%;
			transform: rotate(-45deg) scale(1, 1) translateY(-50%);
		}

		& > .hamburgerMenu__bar:last-child {
			bottom: 50%;
			transform: rotate(45deg) scale(1, 1) translateY(50%);
		}
	}




	@media screen and (max-width: $breakpoint-gamma) {
		display: block;
	}
}


/* Main Navigation Styling */

.mainNavigation {
	float: left;
	padding: 40px;
	@include prefix(transition, 0.3s all ease-in-out 0s, webkit ms);	

	@media screen and (max-width: $breakpoint-gamma) {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 100%;
		right: 0;
		padding: 55px 33px 0;
		background-image: linear-gradient(to bottom, #914afe, #3408b9);
	}

	&.is-scrolled-in {
		left: 0;
	}

	& > ul {
		margin-left: -25px;
		font-size: 0;

		@media screen and (max-width: $breakpoint-alpha) { 
			margin-left: -15px;
		}

		@media screen and (max-width: $breakpoint-gamma) {
			margin-left: 0;
		}
	}

	&__item {
		display: inline-block;
		position: relative;
		margin-left: 25px;

		@media screen and (max-width: $breakpoint-alpha) {
			margin-left: 15px;
		}

		@media screen and (max-width: $breakpoint-gamma) {
			display: block;
			margin-left: 0;
			margin-bottom: 25px;
		}

		&__button {
			font-size: 15px;
			font-weight: 700;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			@include prefix(transition, 0.3s all ease-in-out 0s, webkit ms);

			&:hover {
				color: $default-color-green;
			}

			&--black {
				color: #000;
			}

			@media screen and (max-width: $breakpoint-alpha) {
				font-size: 12px;
			}			

			@media screen and (max-width: $breakpoint-gamma) {
				font-size: 24px;
				color: $default-color-green;
				text-transform: capitalize;
			}
		}

		&__dropdown {
			position: absolute;
			display: none;
			top: 100%;
			left: 0;
			padding-top: 15px;
			min-width: 150px;

			@media screen and (max-width: $breakpoint-gamma) {
				position: relative;
				top: auto;
			}
		}

		&__dropdownItem {
			display: block;
			margin-bottom: 10px;

			@media screen and (max-width: $breakpoint-gamma) {
				margin-bottom: 25px;
			}

			&__button {
				font-size: 15px;
				font-weight: 700;
				color: #fff;
				text-decoration: none;
				opacity: 0.6;
				@include prefix(transition, 0.3s all ease-in-out 0s, webkit ms);

				&:hover {
					opacity: 1;
				}			

				@media screen and (max-width: $breakpoint-gamma) {
					font-size: 24px;
				}

				&--black {
					color: #000;
				}
			}
		}

		&:hover > &__dropdown {
			display: block;
		}
	}
}


/* Hero Styling */

.hero {
	position: relative;
	padding: 40px 0 0;
	min-height: 599px;
	background: url(img/hero-bg.jpg) no-repeat center bottom;
	background-size: cover;
}

.hero__comingSoonBanner {
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	text-transform: uppercase;

	@media screen and (max-width: $breakpoint-delta) {
		margin-top: 20px;
	}
}

.hero__mainBanner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 350px;
	max-width: 90%;
	@include prefix(transform, translate(-50%, -50%) rotate(15deg), webkit ms);

	@media screen and (max-width: $breakpoint-delta) {
		@include prefix(transform, translate(-50%, -50%) rotate(0deg), webkit ms);
	}

	&__row {
		padding: 7px 0;

		& > img {
			display: inline-block;
			margin-right: -7px;
		}

		& > ul {
			display: inline-block;
			margin-top: -5px;
			text-align: left;

			& > li {
				display: block;
				margin-top: 5px;
				color: #fff;
				font-weight: 700;
				text-transform: uppercase;
			}
		}

		&--alignRight {
			text-align: right;
		}

		&__arrowWrapper {
			display: inline-block;
			padding: 28px 47px;
		}
		
	}
}

.hero__credits {
	position: absolute;
	bottom: 0;
	right: 61px;

	& > ul {
		margin-top: -5px;
		font-size: 0;

		& > li {
			display: block;
			margin-top: 5px;
		}
	}
}


/* Arrow Button Styling */

.arrowButton {
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(img/arrow-button-sprite.png) no-repeat;
	border: none;

	&:hover {
		cursor: pointer;
	}
}


/* Social Menu Styling */

.socialMenu {
	float: right;

	&--floatNone {
		float: none;
	}

	&--absolute {
		position: absolute;
		float: none;
		top: 40px;
		right: 40px;
	}

	@media screen and (max-width: $breakpoint-delta) {
		top: 20px;
		right: 20px;
	}

	& > ul {
		margin-left: -10px;
		font-size: 0;

		& > li {
			display: inline-block;
			margin-left: 10px;
		}
	}

	&__icon {
		display: block;
		width: 19px;
		height: 16px;
		background-image: url(img/social-icons-sprite.svg);

		&--twitter {
			background-position: 0 0;
		}

		&--facebook {
			background-position: 0 -17px;
		}

		&--instagram {
			background-position: 0 -34px;
		}

		&--twitterBlack {
			background-position: -19px 0;
		}

		&--facebookBlack {
			background-position: -19px -17px;
		}

		&--instagramBlack {
			background-position: -19px -34px;
		}
	}
}


/* Social Menu - Large - As a separate block (extended .socialMenu) */

.socialMenuLarge {
	@extend .socialMenu;
	
	&__icon {
		@extend .socialMenu__icon;
		width: 34px;
		height: 29px;
		background-image: url(img/social-icons-sprite-large.svg);

		&--twitter {
			background-position: 0 0;
		}

		&--facebook {
			background-position: 0 -31px;
		}

		&--instagram {
			background-position: 0 -62px;
		}
	}
}


/* Signup Form Styling */

.signupForm {
	display: block;
	position: relative;
	padding: 0 50px;
	width: 635px;
	max-width: 100%;
	height: 45px;
	background-image: linear-gradient(to right, #5300ff, #eab8ff);

	@media screen and (max-width: $breakpoint-alpha) {
		padding-right: 100px;
		width: 100%;
	}

	&__label {
		font-size: 15px;
		font-weight: 700;
		line-height: 45px;
		color: #fff;

		&::after {
			content: '|';
			margin-left: 15px;
			opacity: 0.3;
		}

		@media screen and (max-width: $breakpoint-gamma) {
			display: none;
		}
	}

	&__emailInput {
		height: 45px;
		font-size: 15px;
		font-weight: 700;
		color: #fff;
		border: none;
		background: transparent;

		@include placeholderStyling {
			color: #fff;
			opacity: 0.5;
		}
	}

	&__submitButton {
		position: absolute;
		top: 0;
		left: 100%;

		&:hover::after {
			background-position: 0 -45px;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: -23px;
			width: 23px;
			height: 45px; 
			background-image: url(img/default-button-bg-lg--sprite.png);
			background-repeat: no-repeat;

			@media screen and (max-width: $breakpoint-alpha) {
				display: none;
			}
		}

		& > input[type="submit"] {
			padding: 0 20px;
			height: 45px;
			font-size: 15px;
			font-weight: 700;
			color: #fff;
			background: rgba($default-color-green, 0.6);
			border: 3px solid rgba($default-color-green, 0.6);
			border-right: none;
			text-transform: uppercase;
			
			&:hover {
				cursor: pointer;
			}
		}

		&:hover > input[type="submit"] {
			color: $default-color-green;
			background: transparent;
		}

		@media screen and (max-width: $breakpoint-alpha) {
			right: 0;
			left: auto;
			margin-left: 0;		
		}
	}

}


/* Home Text Styling */

.homeTextContent {
	margin: 100px auto;
	padding: 0 198px;
	max-width: 1024px;

	&--text-center {
		text-align: center;
	}

	@media screen and (max-width: $breakpoint-alpha) {
		padding: 0 80px;
	}

	@media screen and (max-width: $breakpoint-gamma) {
		padding: 0 20px;
	}

	& > p {
		margin: 50px 0;
		font-family: 'brownbold';
		font-size: 24px;
		line-height: 35px;
	}

}


/* Default Links Styling */

.defaultLink {
	font-weight: 700;
	text-decoration: none;

	&--green {
		color: $default-color-green;
	}

	&--purple {
		color: $default-color-purple;
	}
}

a[data-tooltip] {
	position: relative;
}

a[data-tooltip]::before {
	content: attr(data-tooltip);
	position: absolute;
	display: none;
	font-size: 12px;
	color: $default-color-black;
	line-height: 20px;
	max-width: 240px;
	padding: 14px 24px 18px;
	bottom: 100%;
	left: -10px;
	border: 3px solid $default-color-green;
	border-radius: 8px;
	background: #fff;
	text-align: left;
}

a[data-tooltip-color="green"]::before {
	border-color: $default-color-green;
}

a[data-tooltip-color="purple"]::before {
	border-color: $default-color-purple;
}

a[data-tooltip]:hover::before {
	display: block;
}


/* Three Columns Grid Styling */

.threeColGrid {
	position: relative;
	margin-top: -97px;
	margin-left: -28px;
	font-size: 0;
	z-index: 1;

	@media screen and (max-width: $breakpoint-alpha) {
		margin-left: 0;
		text-align: center;
	}

	@media screen and (max-width: $breakpoint-delta) {
		margin-top: -40px;
	}

	&__wrapper {
		margin: 97px auto;
		padding: 0 59px;
		width: 1024px;
		max-width: 100%;

		@media screen and (max-width: $breakpoint-gamma) {
			padding: 0 10px;
		}

		@media screen and (max-width: $breakpoint-delta) {
			padding: 0;
		}
	}

	&__filters {
		position: relative;
		margin-left: -25px;
		margin-top: -15px;
		margin-bottom: 25px;
		font-size: 0;
		z-index: 2;

		@media screen and (max-width: $breakpoint-alpha) {
			text-align: center;
		}

		& > li {
			display: inline-block;
			margin-top: 15px;
			margin-left: 25px;
		}

		&__item {
			font-size: 15px;
			font-weight: 700;
			color: $default-color-black;
			text-decoration: none;

			&--active {
				text-decoration: underline;
			}
		}
	}

	&__item {
		display: inline-block;
		padding-left: 28px;
		margin-top: 97px;
		width: 33.33%;
		vertical-align: top;

		@media screen and (max-width: $breakpoint-alpha) {
			padding-left: 14px;
			padding-right: 14px;
			width: 311px;
			height: 193px;
		}

		@media screen and (max-width: $breakpoint-delta) {
			padding: 0;
			margin-top: 40px;
			left: 50% !important; /* Overriding some Isotope custom styling */
			width: 283px;
			@include prefix(transform, translateX(-50%), webkit ms);			
		}
	}

	&__loadMore {
		padding: 130px 0 30px;
		text-align: center;

		& > span {
			display: block;
			margin-bottom: 15px;
			font-size: 15px;
			font-weight: 700;
			color: $default-color-black;
		}
	}

}


/* Project Box Styling */

.projectBox {
	position: relative;
	overflow: hidden;
	width: 283px;
	height: 193px;

	&__bgImage {
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		top: 50%;
		left: 50%;
		@include prefix(transform, translate(-50%, -50%), webkit ms);
	}

	&__description {
		position: absolute;
		top: 0;
		bottom: 0;
		padding: 10px 40px 0;
		left: 0;
		width: 342px;
		font-size: 12px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		transform-origin: top left;
		@include prefix(transform, rotate(34deg), webkit ms);
		@include prefix(transition, 0.3s all ease-in-out 0s, webkit ms);

		&--green {
			color: $default-color-black;
			background: rgba($default-color-green, .6);
		}

		&--purple {
			color: $default-color-green;
			background: rgba($default-color-purple, .6);
		}

	}

	&:hover &__description--green {
		background: rgba($default-color-green, .8);
	}

	&:hover &__description--purple {
		background: rgba($default-color-purple, .8);
	}

	&--small {
		width: 258px;
		height: 176px;
	}

}


/* Green Arrow Button Styling */

.buttonDefault {
	display: inline-block;
	position: relative;
	margin: 30px 0;
	padding: 0 20px;
	height: 34px;
	font-size: 15px;
	line-height: 28px;
	font-weight: 700;
	color: #fff;
	border: 3px solid $default-color-green;
	border-right: none;
	background: $default-color-green;
	text-decoration: none;
	text-transform: uppercase;
	
	&:hover {
		color: $default-color-green;
		background: #fff;
		cursor: pointer;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: -3px;
		right: -18px;
		width: 18px; 
		height: 34px; 
		background-image: url(img/default-button-bg--sprite.png);
		background-repeat: no-repeat;
	}

	&:hover::after {
		background-position: 0 -34px;
	}

	&--margin-top-big {
		margin-top: 130px;
	}
}


/* Advert Styling */

.advert {
	margin: 0 auto;
	width: 939px;
	max-width: 100%;
	border: 1px solid #979797;

	& > img {
		display: block;
		max-width: 100%;
	}
}


/* Decoration Block Styling */

.decorationBlock {
	display: block;
	margin: 0 auto;
	width: 1024px;
	max-width: 100%;
	height: auto;

	&--bottom {
		margin-top: -42px;
	}
}


/* Secondary Navigation Styling - (Footer Navigation) Created as an independent block */

.secondaryNavigation {
	float: left;
	margin-left: -35px;

	@media screen and (max-width: $breakpoint-gamma) {
		float: none;
		overflow: hidden;
		margin-bottom: 50px;
	}

	& > ul {
		float: left;
		padding-left: 35px;

		@media screen and (max-width: $breakpoint-gamma) {
			width: 50%;
		}
	}

	&__item {
		display: block;
		margin-bottom: 10px;

		& > a {			
			font-size: 15px;
			font-weight: 700;
			color: #fff;
			text-decoration: none;
			@include prefix(transition, 0.3s all ease-in-out 0s, webkit ms);

			&:hover {
				opacity: 0.4;
			}
		}
	}
}


/* Google Play and App Store buttons - (Footer) Created as an independent block */

.storesMenu {
	margin-left: -19px;
	margin-top: -4px;
	font-size: 0;
	text-align: right;

	&--pullRight {
		float: right;

		@media screen and (max-width: $breakpoint-gamma) {
			float: none;
			text-align: left;
		}
	}

	&--clearRight {
		clear: right;
	}

	&__item {
		display: inline-block;
		margin-top: 19px;
		padding-left: 19px;

		&__button {
			display: block;
			width: 133px;
			height: 45px;

			&--googlePlay {
				background: url(img/stores-button-google.png) no-repeat center;
			}

			&--appStore {
				background: url(img/stores-button-app-store.png) no-repeat center;
			}
		}
	}
}


/* Hero Slider Styling */

.heroSlider {

	&__wrapper {
		margin: 0 0 85px;
		width: 100%;
		max-width: 817px;		
		max-height: 422px; /* Temporary solution for hiding the slides before the bxSlider is loaded  */
		overflow: hidden; /* Temporary solution for hiding the slides before the bxSlider is loaded  */

		& > .bx-wrapper {
			box-shadow: none;
			border: none;
			padding: 0;
			margin: 0;

			.bx-controls-direction a {
				margin-top: -11px;
				width: 22px;
				height: 22px;
				background: url(img/arrow-button-sprite.png) no-repeat;
				
				&.bx-prev {
					left: -66px;
					background-position: 0 -22px;
				}

				&.bx-next {
					right: -66px;
					background-position: 0 -44px;
				}
			}

			.bx-pager {
				bottom: 40px;

				&.bx-default-pager a {
					background: #fff;

					&:hover, 
					&.active, 
					&:focus {
						background: $default-color-green;
					}
				}
			}
		}
	}
}


/* Project Boxes Slider */

.projectBoxSlider {
	&__wrapper {
		@extend .heroSlider__wrapper;
		margin: 25px 0;
	}

	&__label {
		display: block;
		margin-top: 12px;
		font-family: 'brownlight';
		font-size: 22px;
		line-height: 20px;
		color: $default-color-black;
	}

	&__headline {
		display: block;
		margin-top: 7px;
		font-family: 'brownbold';
		font-size: 15px;
		color: $default-color-black;
		line-height: 20px;
	}

	&__info {
		@extend .projectBoxSlider__headline;
		margin-top: 0;
		font-family: 'brownlight';
	}
}


/* Sidebar Section - Used in Most of the Templates */

.sidebarPrimary {
	float: left;
	position: relative;
	padding-bottom: 200px;
	padding-right: 80px;
	width: 30%;

	@media screen and (max-width: $breakpoint-gamma) {
		float: none;
		padding-right: 0;
		padding-bottom: 50px;
		width: 100%;
	}

	&__footer {
		position: absolute;
		bottom: 0;
		left: 0;

		@media screen and (max-width: $breakpoint-gamma) {
			position: relative;
		}

		&__label {
			display: block;
			font-size: 15px;
			font-family: 'brownbold';
			line-height: 35px;
		}
	}
}


/* Main Content Section - Used in Most of the Templates (in combination with sidebarPrimary) */

.contentPrimary {
	position: relative;
	float: left;
	padding-right: 15px;
	padding-bottom: 50px;
	width: 70%;

	@media screen and (max-width: $breakpoint-gamma) {
		float: none;
		padding-right: 0;
		padding-bottom: 20px;
		width: 100%;
	}

	&--narrow {
		float: right;
		max-width: 500px;
	}

	&__textBlock {
		margin-bottom: 30px;

		&--marginBottomBig {
			margin-bottom: 90px;
		}

		&__img {
			display: block;
			margin: 20px auto 50px;
			max-width: 100%;
		}

		&__quote {
			float: left;
			position: relative;
			padding: 35px 0;
			margin-right: 50px;
			width: 320px;
			max-width: 60%;
			font-family: 'brownlight';
			font-size: 25px;
			line-height: 32px;

			&::before {
				content: '';
				position: absolute;
				display: block;
				top: 15px;
				left: 50%;
				margin-left: -10px;
				width: 21px;
				height: 21px;
				background-image: url(img/quotes-sprite.svg);
			}

			&::after {
				@extend .contentPrimary__textBlock__quote::before;
				top: auto;
				bottom: 15px;
				background-position: 0 -20px;
			}

			&--right {
				float: right;
				margin: 0;
				margin-left: 50px;
			}
		}
	}

	&__footer {
	position: absolute;
	bottom: 0;
	left: 0;

	&__label {
			display: block;
			font-size: 15px;
			font-family: 'brownbold';
			line-height: 35px;
		}
	}
}


/* Contact Form Styling */

.contactForm {
	margin-top: -20px;

	@media screen and (max-width: $breakpoint-gamma) {
		padding-left: 0;
	}

	&__row {
		margin-left: -20px;
		font-size: 0; /* Fighting the Space Between Inline Block Elements */

		&--separator {
			margin-top: 40px;
		}
	}

	&__col {
		display: inline-block;
		margin-top: 20px;
		padding-left: 20px;

		&--full {
			width: 100%;
		}

		&--half {
			width: 50%;

			@media screen and (max-width: $breakpoint-delta) {
				width: 100%;
			}
		}
	}

	&__sectionTitle {
		font-family: 'brownbold';
		font-size: 15px;
		text-transform: uppercase;
	}

	&__inputText {
		display: block;
		padding: 20px;
		width: 100%;
		height: 59px;
		font-family: 'brownbold';
		font-size: 15px;
		color: $default-color-black;
		border: 3px solid $default-color-black;

		@include placeholderStyling {
			color: $default-color-black;
			opacity: 1;
		}
	}

	&__inputTextarea {
		@extend .contactForm__inputText;
		height: 240px;

		&--small {
			height: 133px;
		}

		&--medium {
			height: 180px;
		}
	}

	&__inputCheckbox {
		position: absolute;
		left: 0;

		&__label {
			display: inline-block;
			position: relative;
			padding-left: 30px;
			font-family: 'brownbold';			
			font-size: 14px;
			line-height: 16px;
			cursor: pointer;
		}
	}

	&__submitButton {
		@extend .signupForm__submitButton;

		position: relative;
		display: inline-block;
		top: auto;
		left: auto;
	}
}


/* Map Section Styling */

#mapContainer {
	margin: 0 auto;
	width: 1024px;
	max-width: 100%;
	height: 480px;
}


/* Footer Styling */

.footer {
	background-image: 
		linear-gradient(
			#5b01de, #feb3ff
		);

	&__container {
		position: relative;
		margin: 0 auto;
		padding: 58px 58px 150px 58px;
		max-width: 1024px;
		min-height: 310px;

		@media screen and (max-width: $breakpoint-gamma) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	&__top {
		padding-bottom: 50px;
		text-align: center;

		&__subLogo {
			display: block;
			font-size: 12px;
			font-weight: 700;
			color: #fff;
			line-height: 42px;
			letter-spacing: 0.9px;
			text-align: center;
		}

		&__logo {
			display: block;
			margin: 0 auto 50px;
			width: 301px;
			max-width: 100%;
		}		
	}

	&__logosGrid {
		margin-top: -20px;
		font-size: 0;
		text-align: center;

		&__item {
			display: inline-block;
			margin: 20px 16.5px 0;

			& > img {
				display: block;
				max-width: 80px;
				height: auto;
			}
		}
	}

	&__content {
		overflow: hidden;
	}

	&__utilities {
		float: right;

		@media screen and (max-width: $breakpoint-gamma) {
			float: none;
		}

		&__links {
			float: right;
			clear: right;
			margin-top: 55px;
			text-align: right;

			@media screen and (max-width: $breakpoint-gamma) {
				float: none;
				text-align: left;
			}

			&__item {
				font-size: 15px;
				font-weight: 700;
				line-height: 22px;
				color: #fff;
				text-decoration: none;
				@include prefix(transition, 0.3s all ease-in-out 0s, webkit ms);

				&:hover {
					opacity: 0.4;
				}
			}
		}

		.socialMenu {
			@media screen and (max-width: $breakpoint-gamma) {
				float: none;
			}
		}
	}

	&__bottom {
		position: absolute;
		padding-right: 55px; /* Making room for the Logo */
		bottom: 44px;
		left: 58px;
		right: 43px;

		@media screen and (max-width: $breakpoint-gamma) {
			left: 20px;
			right: 20px;
		}
	}

	&__copyrightText {
		display: block;
		margin: 20px 0 0;
		font-size: 15px;
		font-weight: 700;
		line-height: 16px;
		color: #fff;
		letter-spacing: 0.1px;
	}

	&__logo {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

/* Additional Helper Classes */

.noTopMarrgin {
	margin-top: 0;
}


/* Helper Class for Containing Floated Divs */

.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}
