.socialMenu {
    float: right;

    &--floatNone {
        float: none;
    }

    &--absolute {
        position: absolute;
        float: none;
        top: 40px;
        right: 40px;
    }

    @media screen and (max-width: $breakpoint-delta) {
        top: 20px;
        right: 20px;
    }

    &--absoluteTopRight {
        position: absolute;
        float: none;
        top: 10px;
        right: 0;
    }

    & > ul {
        margin-left: -10px;
        font-size: 0;

        @media screen and (max-width: $breakpoint-gamma) {
            margin-left: 0;
        }
    }


    &__item {
        display: inline-block;
        margin-left: 10px;

        @media screen and (max-width: $breakpoint-gamma) {
            display: block;
            margin: 0 0 10px;
        }

        &--remainSingleLine {
            @media screen and (max-width: $breakpoint-gamma) {
                display: inline-block;
                margin-left: 10px;
            }

            &:first-child {
                @media screen and (max-width: $breakpoint-gamma) {
                    margin-left: 0;
                }
            }
        }

        & > a {
            display: inline-block;
        }
    }

    &__icon {
        display: block;
        width: 19px;
        height: 16px;
        background-image: url('img/social-icons-sprite.svg');

        &--twitter {
            background-position: 0 0;
        }

        &--facebook {
            background-position: 0 -17px;
        }

        &--instagram {
            background-position: 0 -34px;
        }

        &--twitterBlack {
            background-position: -19px 0;
        }

        &--facebookBlack {
            background-position: -19px -17px;
        }

        &--instagramBlack {
            background-position: -19px -34px;
        }

        &--twitterWhiteOnMobile {
            @media screen and (max-width: $breakpoint-gamma) {
                background-position: 0 0;
            }
        }

        &--facebookWhiteOnMobile {
            @media screen and (max-width: $breakpoint-gamma) {
                background-position: 0 -17px;
            }
        }

        &--instagramWhiteOnMobile {
            @media screen and (max-width: $breakpoint-gamma) {
                background-position: 0 -34px;
            }
        }
    }
}

// Social Menu - Large - As a separate block (extended .socialMenu)
.socialMenuLarge {
    @extend .socialMenu;

    &__icon {
        @extend .socialMenu__icon;
        width: 34px;
        height: 29px;
        background-image: url('img/social-icons-sprite-large.svg');

        &--twitter {
            background-position: 0 0;
        }

        &--facebook {
            background-position: 0 -31px;
        }

        &--instagram {
            background-position: 0 -62px;
        }
    }
}
