$default-color-black: #000730;
$default-color-white: #fff;
$default-color-green: #0f0;
$default-color-purple: #9013fe;
$purple-dark: #5300ff;
$purple-darker: #3408b9;
$purple-darker2: #5b01de;
$purple-light: #914afe;
$pink-dark: #e0a1db;
$pink-light: #eab8ff;
$pink-light2: #feb3ff;
$gray-light: #979797;
$green-custom: #14ff00;
