// Regular
@font-face {
    font-family: 'brown';
    src: url('fonts/brown-regular-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'brown';
    src: url('fonts/brown-regular-italic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

// Bold
@font-face {
    font-family: 'brown';
    src: url('fonts/brown-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'brown';
    src: url('fonts/brown-bold-italic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

// Light
@font-face {
    font-family: 'brown';
    src: url('fonts/brown-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
