.signupForm {
    display: block;
    position: relative;
    padding: 0 50px;
    width: 635px;
    max-width: 100%;
    height: 45px;
    background-image: linear-gradient(to right, $purple-dark, $pink-light);

    @media screen and (max-width: $breakpoint-alpha) {
        padding-right: 100px;
        width: 100%;
    }

    &__label {
        font-size: 15px;
        font-weight: 700;
        line-height: 45px;
        color: $default-color-white;

        &::after {
            content: '|';
            margin-left: 15px;
            opacity: 0.3;
        }

        @media screen and (max-width: $breakpoint-gamma) {
            display: none;
        }
    }

    &__emailInput {
        @include placeholder-styling {
            color: $default-color-white;
            opacity: 0.5;
        }
        height: 45px;
        font-size: 15px;
        font-weight: 700;
        color: $default-color-white;
        border: 0;
        background: transparent;
    }

    &__submitButton {
        position: absolute;
        top: 0;
        left: 100%;

        &:hover::after {
            background-position: 0 -45px;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: -23px;
            width: 23px;
            height: 45px;
            background-image: url('img/default-button-bg-lg--sprite.png');
            background-repeat: no-repeat;

            @media screen and (max-width: $breakpoint-alpha) {
                display: none;
            }
        }

        & > [type='submit'] {
            padding: 0 20px;
            height: 45px;
            font-size: 15px;
            font-weight: 700;
            color: $default-color-white;
            background: rgba($default-color-green, 0.6);
            border: 3px solid rgba($default-color-green, 0.6);
            border-right: 0;
            text-transform: uppercase;

            &:hover {
                cursor: pointer;
            }
        }

        &:hover > [type='submit'] {
            color: $default-color-green;
            background: transparent;
        }

        @media screen and (max-width: $breakpoint-alpha) {
            right: 0;
            left: auto;
            margin-left: 0;
        }
    }

}
