.mapIcons {
    margin-top: -30px;

    &__item {
        position: relative;
        padding-left: 49px;
        margin-top: 30px;
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
    }

    &__icon {
        position: absolute;
        left: 0;
        width: 38px;
        height: 100%;

        & > img {
            @include prefix(transform, translate(-50%, -50%), webkit);
            position: absolute;
            left: 50%;
            top: 50%;
        }
    }
}
