.projectBox {
    position: relative;
    overflow: hidden;
    width: 283px;
    height: 193px;

    &--small {
        width: 258px;
        height: 176px;
    }

    &__bgImage {
        @include prefix(transform, translate(-50%, -50%), webkit ms);
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
    }

    &__overlay {
        @include prefix(transform, rotate(34deg), webkit ms);
        @include prefix(transition, 0.3s all ease-in-out 0s, webkit ms);
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 10px 40px 0;
        left: 0;
        width: 122%;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        transform-origin: top left;

        &--green {
            color: $default-color-black;
            background: rgba($default-color-green, .6);
        }

        &--purple {
            color: $default-color-green;
            background: rgba($default-color-purple, .6);
        }

    }

    &:hover &__overlay--green {
        background: rgba($default-color-green, .8);
    }

    &:hover &__overlay--purple {
        background: rgba($default-color-purple, .8);
    }

    &__innerBigText {
        position: absolute;
        left: 20px;
        bottom: 15px;
        font-size: 25px;
        font-weight: 700;
        line-height: 33px;
        color: $green-custom;
        text-transform: uppercase;
    }

    &__headline {
        display: block;
        margin-top: 7px;
        font-size: 15px;
        font-weight: 700;
        color: $default-color-black;
        line-height: 20px;
        text-align: left;

        &--big {
            font-size: 22px;
            font-weight: 300;
        }
    }

    &__info {
        @extend .projectBox__headline;
        margin-top: 0;
        font-weight: 300;
    }

}
