.shareEvent {
    position: absolute;
    bottom: 1rem;

    @media screen and (max-width: $breakpoint-gamma) {
        position: relative;
        bottom: auto;
    }

    &__label {
        display: block;
        font-size: 15px;
        font-weight: 700;
        line-height: 35px;
    }
}
