.storesMenu {
    margin-left: -19px;
    margin-top: -4px;
    font-size: 0;
    text-align: right;
    clear: right;

    &__label {
        float: right;
        margin: 50px 0 0;
        font-size: 15px;
        font-weight: 700;
        line-height: 22px;
        color: $default-color-white;
        text-align: right;
        clear: right;

        @media screen and (max-width: $breakpoint-gamma) {
            display: none;
        }
    }

    &--pullRight {
        float: right;

        @media screen and (max-width: $breakpoint-gamma) {
            float: none;
            text-align: left;
        }
    }

    &--clearRight {
        clear: right;
    }

    &__item {
        display: inline-block;
        margin-top: 19px;
        padding-left: 19px;
        width: 50%;

        @media screen and (min-width: $breakpoint-gamma) {
            max-width: 152px;
        }

        &__button {
            display: block;
            width: 100%;
            height: 45px;
            border: 2px solid $default-color-white;
            border-radius: 6px;

            &--googlePlay {
                background: url('img/stores-button-google.png') no-repeat center;
            }

            &--appStore {
                background: url('img/stores-button-app-store.png') no-repeat center;
            }
        }
    }
}
