.heroSlider {

    &__wrapper {
        margin: 0 0 85px;
        width: 100%;
        max-width: 817px;       
        max-height: 422px; /* Temporary solution for hiding the slides before the bxSlider is loaded  */
        overflow: hidden; /* Temporary solution for hiding the slides before the bxSlider is loaded  */

        & > .bx-wrapper {
            box-shadow: none;
            border: none;
            padding: 0;
            margin: 0;

            .bx-controls-direction a {
                margin-top: -11px;
                width: 22px;
                height: 22px;
                background: url(img/arrow-button-sprite.png) no-repeat;
                
                &.bx-prev {
                    left: -66px;
                    background-position: 0 -22px;
                }

                &.bx-next {
                    right: -66px;
                    background-position: 0 -44px;
                }
            }

            .bx-pager {
                bottom: 40px;

                &.bx-default-pager a {
                    background: #fff;

                    &:hover, 
                    &.active, 
                    &:focus {
                        background: $default-color-green;
                    }
                }
            }
        }
    }
}