.sidebarPrimary {
    float: left;
    position: relative;
    padding-bottom: 20px;
    padding-right: 80px;
    width: 30%;

    &--wide {
        width: 40%;
    }

    &--hasFixedFooter {
        padding-bottom: 200px;
    }

    @media screen and (max-width: $breakpoint-gamma) {
        float: none;
        padding-right: 0;
        padding-bottom: 50px;
        width: 100%;
    }

    &__footer {
        position: absolute;
        bottom: 0;
        left: 0;

        @media screen and (max-width: $breakpoint-gamma) {
            position: relative;
        }

        &__label {
            display: block;
            font-size: 15px;
            font-weight: 700;
            line-height: 35px;
        }
    }
}

