.hamburgerMenu {
    @include prefix(transition, 0.3s all ease-in-out 0s, webkit ms);
    display: none;
    position: absolute;
    left: 18px;
    top: 18px;
    right: auto;
    width: 27px;
    height: 20px;
    z-index: 999;

    &:hover {
        cursor: pointer;
    }

    &__bar {
        display: block;
        position: absolute;
        right: 0;
        width: 100%;
        height: 4px;
        background: $default-color-white;
        border-radius: 2.5px;
        transform-origin: center center;
        transform: rotate(0deg) scale(1, 1);
        transition: all 0.3s ease-in-out;

        &:first-child {
            top: 0;
        }

        &:nth-child(2) {
            top: 8px;
        }

        &:last-child {
            top: auto;
            bottom: 0;
        }

        &--black {
            background: $default-color-black;
        }
    }

    &:hover &__bar:nth-child(2) {
        transform: rotate(0deg) scale(0.7, 1);
    }

    &.is-in-x-mode {
        left: auto;
        right: 18px;

        & > .hamburgerMenu__bar {
            background: $default-color-green;
        }

        & > .hamburgerMenu__bar:nth-child(2) {
            transform: rotate(0deg) scale(0, 0);
        }

        & > .hamburgerMenu__bar:first-child {
            top: 50%;
            transform: rotate(-45deg) scale(1, 1) translateY(-50%);
        }

        & > .hamburgerMenu__bar:last-child {
            bottom: 50%;
            transform: rotate(45deg) scale(1, 1) translateY(50%);
        }
    }

    @media screen and (max-width: $breakpoint-gamma) {
        display: block;
    }
}
