.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    &--inner {
        position: relative;
        margin: 0 auto 70px;
        width: 1024px;
        max-width: 100%;

        @media screen and (max-width: $breakpoint-gamma) {
            margin-bottom: 0;
        }
    }

    &__utilities {
        float: right;
        padding-top: 40px;
        padding-right: 40px;

        @media screen and (max-width: $breakpoint-gamma) {
            padding-top: 18px;
            padding-right: 18px;
        }

        &__search {
            float: left;

            &__input {
                @include placeholder-styling {
                    color: $default-color-white;
                    opacity: 0.8;
                }
                margin-top: -20px;
                margin-right: 60px;
                padding-left: 50px;
                width: 130px;
                height: 53px;
                font-size: 15px;
                font-weight: 700;
                color: $default-color-white;
                background: transparent url('img/search-bg-sprite.png') no-repeat;
                background-position: 0 -53px;
                border: 0;
                text-transform: uppercase;

                &:hover,
                &:focus {
                    background-position: 0 0;
                }

                @media screen and (max-width: $breakpoint-alpha) {
                    margin-right: 20px;
                    font-size: 12px;
                }

                @media screen and (max-width: $breakpoint-gamma) {
                    display: none;
                }

                &--black {
                    color: $default-color-black;
                    background-position: 0 -179px;

                    &:hover,
                    &:focus {
                        background-position: 0 -126px;
                    }

                    @include placeholder-styling {
                        color: $default-color-black;
                    }
                }
            }
        }
    }
}
